<div class="container">
    <h1>Produtos</h1>
    {{#if productsQuantity}}
    <section class="products-container">
        <div class="summary-item">
            <i class="bi bi-box"></i>
            <span>Total: {{productsQuantity}}</span>
        </div>
        <div class="summary-item">
            <span><i class="bi bi-display"></i> Eletr么nico: {{eletronicCategory}}</span>
        </div>
        <div class="summary-item">
            <span><i class="bi bi-bucket"></i> Limpeza: {{cleanCategory}}</span>
        </div>
        <div class="summary-item">
            <span><i class="bi bi-pencil-square"></i> Escrit贸rio: {{officeCategory}}</span>
        </div>
    </section>
    <div class="container-cards">
        <a href="/products/eletronics" class="card-estoque">
            <i class="bi bi-display"></i>
            <span>Eletr么nicos</span>
        </a>
        <a href="/products/cleaning" class="card-estoque">
            <i class="bi bi-bucket"></i>
            <span>Limpeza</span>
        </a>
        <a href="/products/office" class="card-estoque">
            <i class="bi bi-pencil-square"></i>
            <span>Escrit贸rio</span>
        </a>
    </div>
    {{else}}
    <p>Nenhum produto cadastrado ainda.</p>
    {{/if}}

</div>

<!-- {{#each products}}
<ul>
    <li>{{id}} - {{Category.name}}</li>
</ul>
{{/each}} */ -->