    <div class="form-search">
        <form action="/products/eletronics" method="get">
            <input type="search" name="search" placeholder="Nome do Produto">
            <input type="submit" value="Pesquisar" >
            <a href="/products/eletronics" class="clean-btn">Limpar</a>
        </form>
    </div>
<div class="products-category">
    {{#if eletronicsQuantity}}
    {{#each eletronicsProducts}}
    <div class="product-card">
        <div class="product-info">
            <span>{{name}}</span>
            <p>{{description}}</p>
            <div class="form-actions">
                <a href="/products/edit/{{id}}" class="btn-edit">Editar</a>
                   <form action="/products/delete" method="post">
                <input type="hidden" name="id" value="{{id}}">
                    <input type="submit" value="Excluir" class="btn-delete">
                </form>
            </div>
        </div>
    </div>

    {{/each}}

    {{else}}
    <p>Nenhum eletronico cadastrado</p>
    {{/if}}

</div>